<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Workdaylist</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    
</head>
<body>
	<h1>Workdays</h1>
		<div class="col-md-4" style="padding:20px 0">
		<form th:action="@{/logout}" method="post">
			<input type="submit" value="Sign Out" class="btn btn-danger"/>
		</form>
	</div>
			
	<h3 th:inline="text">Welcome, [[${#httpServletRequest.remoteUser}]]</h3>
    <table class="table table-striped">
		<tr>
		    <th>Työvuoron alku</th>
		    <th>Työvuoron loppu</th>
		    <th>Auto</th>
		    <th>Paulig</th>
		    <th>Fazer</th>
   		    <th>Merca</th>
 		    <th>Pahvit</th>
		    <th>Akaa</th>
   		    <th>Kesko</th>
   		    <th>Muut määrä</th>
   		    <th>Muut selitys</th>
  		    <th sec:authorize="hasAuthority('ADMIN')"></th> 
  		    <th sec:authorize="hasAuthority('ADMIN')"></th>  		    
		</tr>  
    	<tr th:each = "workday : ${workdays}">
    		<td th:text="${#dates.format(workday.beginDate, 'dd.MM.yyyy HH:mm')}"></td>
    		<td th:text="${#dates.format(workday.endDate, 'dd.MM.yyyy HH:mm')}"></td>
       		<td th:text="${workday.vehicle.regNo}"></td>
    		<td th:text="${workday.pauligAmount}"></td>
    		<td th:text="${workday.fazerAmount}"></td>
    		<td th:text="${workday.mercaAmount}"></td>
    		<td th:text="${workday.pahvitAmount}"></td>
 		    <td th:text="${workday.akaaAmount}"></td>
 		    <td th:text="${workday.keskoAmount}"></td>
 		    <td th:text="${workday.otherAmount}"></td>
 		    <td th:text="${workday.otherInfo}"></td>
 			<td sec:authorize="hasAuthority('ADMIN')"><a class="btn btn-danger" th:href="@{/delete/{id}(id=${workday.id})}">Delete</a></td>
 			<td sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/edit/{id}(id=${workday.id})}">Edit</a></td>    	
    	</tr>
     </table>
	 <a href="/add" class="btn btn-success">Add Workday</a>    	
</body>
</html>